<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/notimedilogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/notimedilogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotiMedi"
        tools:targetApi="31">
        <activity android:name=".LoginRegistroActivity"/>
        <activity android:name=".NotificacionesInfoActivity"/>
        <activity android:name=".PrincipalActivity"/>
        <activity android:name=".ConfiguracionActivity"/>
        <activity android:name=".PerfilesActivity"/>
        <activity android:name=".PerfilInfoGeneralActivity"/>
        <activity android:name=".MedicamentosActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NotiMedi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>