<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/notimedilogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/notimedilogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotiMedi"
        tools:targetApi="31">
        <activity android:name=".LoginRegistroActivity"/>
        <activity android:name=".NotificacionesInfoActivity"/>
        <activity android:name=".PrincipalActivity"/>
        <activity android:name=".ConfiguracionActivity"/>
        <activity android:name=".PerfilInfoGeneralActivity"/>
        <activity android:name=".ListaMedicamentosActivity"/>
        <activity android:name=".EstablecerRecordatorioActivity"/>
        <receiver android:name=".notificaciones.NotificationWorker"  android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.notimedi.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NotiMedi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>